
span.hair_flower_0 + span.ng-scope,span.hair_flower_1 + span.ng-scope,span.hair_flower_2 + span.ng-scope,span.hair_flower_3 + span.ng-scope,span.hair_flower_4 + span.ng-scope,span.hair_flower_5 + span.ng-scope,span.hair_flower_6 + span.ng-scope {
	opacity:1;left:20px;top:30px;zoom:1;
}

.current-mount {
	top:45px;zoom:0.9; left:35px
}
.Mount_Body_Gryphon-RoyalPurple {
	top:45px;zoom:0.9; left:33px
}
.background_violet {
	background-image:url(http://bowtyenterprises.com/laezboLnB.jpg); 
	background-size: 140px 147px; background-position: 0 0; 
}

div.character-sprites { 
	position: absolute;
	width:100%; 
	height: 100%; 
	top: 0px; 
	margin: 50%px 0 0 50%;
}

figure[data-name="unTy"] > div.character-sprites {
	  background-color:#434343;
}

figure[data-name="keepTy"] > div.character-sprites {
	  background-color:#312727;
}

	


