
span.hair_flower_0 + span.ng-scope,span.hair_flower_1 + span.ng-scope,span.hair_flower_2 + span.ng-scope,span.hair_flower_3 + span.ng-scope,span.hair_flower_4 + span.ng-scope,span.hair_flower_5 + span.ng-scope,span.hair_flower_6 + span.ng-scope {
	opacity:1;left:40px;top:30px;zoom:0.9
}

.current-mount {
	top:45px;zoom:0.9; left:35px
}
.Mount_Body_Gryphon-RoyalPurple {
	top:45px;zoom:0.9; left:33px
}
.background_violet {
	background-image:url(http://bowtyenterprises.com/laezboLnB.jpg); 
	background-size: 140px 147px; background-position: 0 0; 
}


