body { background-color:#262626; }

input[type="text"], textarea {
  	background-color : #262626;; 
}

.col-md-12.exp-chart, .header-wrap, .filters, .toolbar, .task-column, .tab-content, .alert-danger, .ui-pnotify .ui-pnotify-shadow, .modal-content, .selected-class, .modal-content.ng-scope, .options-menu, .customize-menu,.toolbar-mobile > div{
	background-color:#262626;
	border-color: black;
	//mix-blend-mode: difference;
	opacity: .7;
}

span.hair_flower_0 + span.ng-scope,span.hair_flower_1 + span.ng-scope,span.hair_flower_2 + span.ng-scope,span.hair_flower_3 + span.ng-scope,span.hair_flower_4 + span.ng-scope,span.hair_flower_5 + span.ng-scope,span.hair_flower_6 + span.ng-scope {
	opacity:1;left:20px;top:30px;zoom:1; 
}

.current-mount {
	top:45px;zoom:0.9; left:35px
}
.Mount_Body_Gryphon-RoyalPurple {
	top:45px;zoom:0.9; left:33px
}
.background_violet {
	background-image:url(http://bowtyenterprises.com/laezboLnB.jpg); 
	background-size: 140px 147px; background-position: 0 0; 
}

.header-wrap > figure { 
	opacity: 1 !important;
}

.header-wrap.ng-scope {
	background-color: #262626;
}
div[class="hero-stats"] {
	background-color: #262626;
	border: none;
	opacity: .7 !important;
}
div[class="row"] {
	background-color: #262626;
}
div[class="dailys"] {
	background-color: black;
}


div.character-sprites { 
}

figure[data-name="unTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#434343;
}
figure[data-name="keepTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#312727;
}
figure[data-name="liberTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#032231;
}
figure[data-name="floTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#312c0a;
}
figure[data-name="coTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#31002f;
}
figure[data-name="formTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#311d04;
}
figure[data-name="knowTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#2a3124;
}
figure[data-name="nuTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#002e31;
}
figure[data-name="museTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#2b1a31;
}
figure[data-name="spinTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#2b1a31;
}
figure[data-name="leviTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#193131;
}
figure[data-name="bookTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#1f1931;
}
figure[data-name="feelTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#033100;
}
figure[data-name="crèmTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#310000;
}
figure[data-name="rightTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#2a1d1d;
}
figure[data-name="massTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:#1f0700;
}
figure[data-name="panTy"] > div.character-sprites {
	position: absolute; width:100%; height: 100%; top: 0px; margin: 50%px 0 0 50%;
	background-color:black;
}

	


